<h1>Trades waiting for approval</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Buyer</th>
            <th>Seller</th>
            <th>Pair</th>
            <th>Nominal</th>
            <th>Tenor</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let trade of trades">
        <tr *ngIf="trade.state.data.tradingOrder">
            <td>{{trade.state.data.buyer}}</td>
            <td>{{trade.state.data.seller}}</td>
            <td>{{trade.state.data.tradingOrder.pair}}</td>
            <td>{{trade.state.data.tradingOrder.nominal}}</td>
            <td>{{trade.state.data.tradingOrder.tenor}}</td>
            <td><i (click)="approve(trade.state.data.tradingOrder.orderId)" class="fa fa-check" aria-hidden="true" title="Approve Trade"></i></td>
        </tr>
        </ng-container>
    </tbody>
</table>